<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header :: header}"></head>
<body>
<nav th:insert="~{fragments/header :: nav}"></nav>
<div id="loader">
    <div class="spinner-grow text-danger " role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="container-fluid mt-3 p-5">
    <div class="row">
        <div class="content-box col-lg-5 col-md-12 p-4 mx-lg-5 d-flex flex-column  justify-content-center align-items-center ">
            <form enctype="multipart/form-data" id="uploadForm"
                  method="post" class="w-100">
                <div class=" mb-5">
                    <input accept="application/pdf" class="form-control shadow-none border-danger" id="pdfFile"
                           name="pdfFile" type="file">
                </div>
                <div class="mb-5 file-input-container">
                    <input class="form-control shadow-none selectedFilename" id="selectedFilename"
                           name="OriginalFilename" readonly
                           type="text" value="No file selected">
                </div>

                <div class=" my-5">
                    <input class="form-control shadow-none border-danger" id="prompt" name="prompt"
                           placeholder="Enter Prompt"
                           required
                           type="text">
                </div>
                <div class="my-3">
                    <input class="form-control shadow-none" name="password" placeholder="PDF password if required"
                           type="password">
                </div>
                <div class="my-5 d-grid text-center">
                    <button class="btn btn-secondary" type="submit">ASK</button>
                </div>
            </form>
            <div class="col-md-12 py-3" id="responseDiv">
                <p class="text-secondary"></p>
            </div>
        </div>

        <div class="content-box col-lg-6 col-md-12 p-4 ">
            <div class="pb-3" style="display: flex;justify-content: space-between;align-items: flex-start;">
                <h5 class="text-primary text-uppercase p-2 "></h5>
                <a class="text-decoration-none" th:href="@{/gmail/emails}">
                    <button class="btn btn-secondary text-uppercase " onclick="fetchEmails()">Get Email</button>
                </a>
            </div>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div th:each="email, i : ${emails}">
                    <div class="accordion-item" style="border: 2px solid lightgray;"
                         th:if="${email['from'] != null}">
                        <div th:if="${email['attachments'] != null}">
                            <h2 class="accordion-header" th:id="'flush-heading' + ${i.index + 1}">
                                <button aria-controls="flush-collapseOne" aria-expanded="false"
                                        class="accordion-button collapsed text-uppercase box-shadow-none"
                                        data-bs-toggle="collapse" style="box-shadow: none; color: #2839c7 !important;"
                                        th:data-bs-target="'#flush-collapse' + ${i.index + 1}"
                                        th:text="${email['title']}" type="button">
                                </button>
                                <p class="form-info" th:text="'Form : '+${email['from']}"></p>
                            </h2>
                            <div class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample"
                                 th:aria-labelledby="'flush-heading' + ${i.index + 1}"
                                 th:id="'flush-collapse' + ${i.index + 1}">
                                <div class="accordion-body email-snippet" th:text="${email['snippet']}"></div>
                                <ul class="list-style-none">
                                    <li th:each="attachment : ${email['attachments']}">Attachment :
                                        <a class="text-decoration-none text-uppercase link-font downloadLink"
                                           th:href="@{/download/{messageId}/{filename}(messageId=${email['messageId']},filename=${attachment['filename']})}"
                                           th:text="${attachment['filename']}">Download</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>
